
    <div class="row header">
        <div class="col-md-5">

        </div>
        <div class="col-md-2 titleCol">
            <h1> Workout Plans</h1>
            <div id="titleBase">

            </div>
        </div>

        <div class="col-md-5">

        </div>

    </div>

    <!-- End Header Content-->



    <!-- Main Content-->

    <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8">
            <!-- Workout Boxes Go Here-->

            <!-- Workout 1-->
            <div class="workoutBox" id = "">
                <div class="row workoutImage">
                    <div class="col-md-12 image">

                        <img src="https://lh3.googleusercontent.com/proxy/tWaC8TgslNoa3y-eaLJrmVp1YPREPJq2ybEYycjf-QIwgjudrRa-O5Djx1HSXFYv7zYlrFqBEECy7flHsVe5YX28">
                    </div>
                </div>
                
                <div class="row WOImageText">
                    <div class="col-md-12">
                        <h2> Abs/Core</h2>
                    </div>
                </div>
                
            </div>
            <!-- End Workout 1-->

            <!-- Add Workout-->
            <div class="workoutBox">
                <div class="row workoutImage">
                    <div class="col-md-12">
                        <i class="fas fa-plus fa-5x"></i>
                    </div>
                </div>
                
                <div class="row WOImageText">
                    <div class="col-md-12">
                        <h2> Add Workout</h2>
                    </div>
                </div>
                
            </div>
            <!-- End Add workout-->
            
















        </div>

        <div class="col-lg-2"></div>


    </div>


    <!-- End Main Content-->






    <!-- Modal For Edits-->
    <div class="modal fade" id="editWorkoutModal" tabindex="-1" role="dialog" aria-labelledby="editWorkoutLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editWorkoutLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
