


<div class="addWorkoutBox">
    <div class="row workoutImage">
        <div class="col-md-12">
            <i class="fas fa-plus fa-5x"></i>
        </div>
    </div>

    <div class="row WOImageText">
        <div class="col-md-12">
            <h2> Add Workout</h2>
        </div>
    </div>

</div>